.redes{
    padding-right: 21px;
    font-size: 20px;
}
.face{
    padding-left: 50px;
}
.main-text{
    font-size: 70px;
}
.btn-menu{
    padding-right: 15px;
}
.logo{
    text-align: center;
}
.contenedor{
    background-image:url("../img/Background.png");
    height: 500px; 
}
.circulo{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
.btn-menu:hover{
    color: #F45E00;
}
.textos, .btn-menu, .redes{
    color: white;
}