$main-color: #EB5C01;
.redes{
    padding-right: 21px;
    font-size: 20px;
}
.face{
    padding-left: 50px;
}
.main-text{
    font-size: 70px;
}
.btn-menu{
    padding-right: 15px;
}

.logo{
    text-align: center;
}
.contenedor{
    background-image:url("../img/Background.png");
    height: 500px; 
}
.contenedor-hecho-medida{
    background: $main-color;
    box-shadow: -3px 11px 15px -3px;
    position: relative;
    margin-top: -20px;
}
.text-hecho-medida{
    padding-left: 50px;
    padding-top: 100px;
    margin-bottom: 0px;
}

.circulo{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
.btn-menu:hover{
    color:$main-color;
}
.secondary-txt-medida{
    font-size: 36px;
}
.p-txt-medida{
    font-size: 27px;
    line-height: 25px;
}
.secondary-txt-medida, .p-txt-medida{
    padding-left: 25px;
}
.textos, .btn-menu, .redes{
    color: white;
}
.btn-medida{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    border: none;
    border-radius: 17px;
    color: white;
    background: #303030;
}
.img-historia{
    width: 100%;
}
.historia{
    padding-top: 100px;
    color: white;
}
.cont-txt-historia{
    margin: auto;
    margin-left: -150px;
}
.txt-historia{
    font-size: 23px;
    line-height: 22px;
    padding-top: 25px;
    padding-left: 20px; 
}
.btn-historia{
    background: black;
    color: white;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
.cont-text{
    width: 124%;
    background: $main-color;
}
.img-medida{
    width: 80%;
    margin: 40px;
}